@model  IPagedList<Book>

@{
  ViewBag.Title = "Archive";
}

<div class="row">
  @using (Html.BeginForm("Archive", "Book", FormMethod.Get))
  {
    @Html.Hidden("minPrice", (int?)ViewBag.MinPrice)
    @Html.Hidden("maxPrice", (int?)ViewBag.MaxPrice)
    <input type="search" name="search" class="form-control pull-right" value="@ViewBag.Search" placeholder="Search..." />
  }
</div>
<br />
<table class="table table-bordered">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Price</th>
    <th>Image</th>
    <th>Condition</th>
  </tr>
  @foreach (var item in Model)
  {
    <tr>
      <td>@Html.DisplayFor(modelItem => item.Id)</td>
      <td>
        @Html.ActionLink(item.Name, "Details", new { id = item.Id })
      </td>
      <td>$ @Html.DisplayFor(modelItem => item.Price)</td>
      <td>
        <a target="_blank" href="@Url.Content(item.CoverImagePath)">
          <img src="@Url.Content(item.CoverImagePath)?width=120&height=160&crop=auto" alt="Cannot display cover" />
        </a>
      </td>
      <td>@Html.DisplayFor(modelItem => item.Condition)</td>
    </tr>

  }
</table>
<p>
  @Html.PagedListPager(Model, page => Url.Action("Archive", new { page, minPrice = ViewBag.MinPrice, maxPrice = ViewBag.MaxPrice, search = ViewBag.Search }))
</p>

