@model List<Bookstore.UI.Models.BookModel>

@{
        /**/

        ViewBag.Title = "BookList";
}

<div class="jumbotron">
  <p>@Html.ActionLink("Create", "AddBook")</p>
  <br />
  @using (Html.BeginForm())
  {
    <p id="searchSection">
      Find by name: @Html.TextBox("searchString", null, new { id = "txtSearch" })
      <input class="btn btn-primary" type="submit" value="Search" />
    </p>
  }
  <p>BookList:</p>
  <table class="table table-bordered">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>CoverImage</th>
      <th>Condition</th>
      <th>Detail</th>
      <th>Delete</th>
      <th>Edit</th>


    </tr>
    @foreach (var book in Model)
    {
      <tr>
        <td>@Html.DisplayFor(modelItem => book.Id)</td>
        <td>@Html.DisplayFor(modelItem => book.Name)</td>
        <td>$ @Html.DisplayFor(modelItem => book.Price)</td>
        <td><img src="@Url.Content(book.CoverImagePath)" alt="Cannot display cover" width="100" /></td>
        <td>@Html.DisplayFor(modelItel => book.Condition)</td>
        <td>@Html.ActionLink("See details", "ShowBookDetails", "Book", new { id = book.Id }, null)</td>
        <td>@Html.ActionLink("Delete", "DeleteBook", "Book", new { id = book.Id }, null)</td>
        <td>@Html.ActionLink("Edit", "EditBook", "Book", new { id = book.Id }, null)</td>

      </tr>

    }
  </table>
  <br />
  @for (int i = 1; i <= (ViewBag.totalCount - 1) / 6 + 1; i++)
  {

    @Html.ActionLink(i.ToString(), "BookList", "Book", new { pageNumber = i }, null)
    <span>&nbsp</span>
  }
   
</div>

