@model  Book
@{
  ViewBag.Title = "Book Details";
}

<div class="jumbotron">
  <h2>Name: @Model.Name</h2>
  <h2>ISBN: @Model.ISBN</h2>
  <h2>Price: $ @Model.Price </h2>
  <h2>Published: $ @Model.PublishYear </h2>
  <h3>Authors: @Model.Author</h3>
  <h3>Book Condition: @Model.Condition</h3>
  <p>Description: @Model.Description</p>
  <img src="@Url.Content(Model.CoverImagePath)" alt="Cannot display cover" />

  <br />

  @if (User.IsInRole(RoleList.Seller))
  {
    <br />

    @Html.ActionLink("Edit", "Edit", "Book", new { id = Model.Id }, new { @class = "btn btn-success  btn-lg" })
  }

  <h2 class="text-info">
    @TempData["message"]
  </h2>

  @if (Model.Offered == true)
  {
    if (Model.Buyer != null)
    {
      <h2>
        Order is accepted for Buyer:

        <span class="text-success"> @(Model.Buyer.FullName + "( " + Model.Buyer.Email + " )")</span>

      </h2>
    }
    else
    {
      <h2>
        Order is accepted for Buyer: <span class="text-danger"> User is deleted</span>
      </h2>
    }
  }

  @if (User.IsInRole(RoleList.Buyer))
  {

    <br />

    if (Model.Offered == null && Model.BuyerId == null)
    {
      using (Html.BeginForm("Order", "Book", new { id = Model.Id }, FormMethod.Post))
      {
        <button type="submit" class="btn btn-primary btn-lg">Order</button>
      }
    }

    if (Model.Offered == null && Model.BuyerId == User.Identity.GetUserId())
    {
      <h2 class="text-warning">
        Order in processing
      </h2>
    }

    if (Model.Offered == false && Model.BuyerId == User.Identity.GetUserId())
    {
      <h2 class="text-danger">
        Order is rejected
      </h2>
    }

    <br />

    <p>
      <a href="mailto:@(Model.Seller.Email)" class="btn btn-info btn-lg" target="_top">E-mail</a>
    </p>
  }

  @if (User.IsInRole(RoleList.Seller))
  {

    <br />

    if (Model.BuyerId != null)
    {

      if (Model.Offered == null)
      {
        using (Html.BeginForm("Accept", "Book", new { id = Model.Id }, FormMethod.Post))
        {
          <button type="submit" class="btn btn-primary btn-lg">Accept</button>
        }

        <br />

        using (Html.BeginForm("Reject", "Book", new { id = Model.Id }, FormMethod.Post))
        {
          <button type="submit" class="btn btn-danger btn-lg">Reject</button>
        }
      }

      if (Model.Offered == false)
      {
        if (Model.Buyer != null)
        {
          <h2>
            Order is rejected for Buyer: <span class="text-warning"> @(Model.Buyer.FullName + "( " + Model.Buyer.Email + " )")</span>
          </h2>
        }
        else
        {
          <h2>
            Order is rejected for Buyer: <span class="text-danger"> User is deleted</span>
          </h2>
        }
        <br />
        using (Html.BeginForm("Available", "Book", new { id = Model.Id }, FormMethod.Post))
        {
          <button type="submit" class="btn btn-info btn-lg">Available</button>
        }
      }
      <br />
      if (Model.Buyer != null)
      {
        <p>
          <a href="mailto:@(Model.Buyer.Email)" class="btn btn-info btn-lg" target="_top">E-mail</a>
        </p>
      }
    }
  }

</div>

