@model Book
@{
  ViewBag.Title = "Edit a book:";
}

@using (Html.BeginForm("Edit", "Book", new { id = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{

  <div>Name:</div>
  @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
  @Html.ValidationMessageFor(m => m.Name)
  <div>Price:</div>
  @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
  @Html.ValidationMessageFor(m => m.Price)

  <div>Cover Image:</div>
  <input type="file" name="cover" class="form-control" />
  @Html.HiddenFor(m => m.CoverImagePath)

  <div>Authors:</div>
  @Html.TextBoxFor(m => m.Author, new { @class = "form-control" })
  @Html.ValidationMessageFor(m => m.Author)
  <div>Description:</div>
  @Html.TextAreaFor(m => m.Description, 10, 50, new { })
  @Html.ValidationMessageFor(m => m.Description)
  <div>Condition:</div>

  @Html.RadioButtonFor(model => model.Condition, "New")
  @Html.Label("New", "New")
  @Html.RadioButtonFor(model => model.Condition, "Used")
  @Html.Label("Used", "Used")

  <div>ISBN:</div>
  @Html.TextBoxFor(m => m.ISBN, new { @class = "form-control" })
  <br />
  <input type="submit" value="Edit" class="btn btn-success btn-lg" />
}

<br />
@Html.ActionLink("Delete", "Delete", "Book", new { id = Model.Id }, new { @class = "btn btn-danger btn-lg", onclick = "return confirm('Want to delete?');" })

