@model  IPagedList<Book>

@{
  ViewBag.Title = "Offer List";
}

<div class="jumbotron">
  
  <table class="table table-bordered">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>Image</th>
      <th>Condition</th>
      <th> </th>
    </tr>
    @foreach (var book in Model)
    {
      <tr>
        <td>@Html.DisplayFor(modelItem => book.Id)</td>
        <td>@Html.DisplayFor(modelItem => book.Name)</td>
        <td>$ @Html.DisplayFor(modelItem => book.Price)</td>
        <td><img src="@Url.Content(book.CoverImagePath)" alt="Cannot display cover" width="240" height="180" /></td>
        <td>@Html.DisplayFor(modelItel => book.Condition)</td>
        <td>
          @Html.ActionLink("Details", "Details", "Book", new { id = book.Id }, new { @class = "btn btn-info" })
        </td>

      </tr>

    }
  </table>
  <p>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, minPrice = ViewBag.MinPrice, maxPrice = ViewBag.MaxPrice, search = ViewBag.Search }))
  </p>
</div>

