<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Welcome to MVC Bookstore</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/favicon.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse custom-nav-fix navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("BookList", "Book", new { pageNumber = 1 }, null)" class="navbar-brand">
                    <img src="~/Images/Layout/logo.png" class="img-responsive center-block" width="100" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("BookList", "Book", new { pageNumber = 1 })" >All Books</a></li>
                    <li><a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Filter <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("ShowBookByPrice", "Book", new { minPrice = 0, maxPrice = 20 }, null)" style="color:#1874CD;"><span class="glyphicon glyphicon-search"></span> < 20$</a></li>
                            <li><a href="@Url.Action("ShowBookByPrice", "Book", new { minPrice = 20, maxPrice = 50 }, null)" style="color:#1874CD;"><span class="glyphicon glyphicon-search"></span> 20$-50$</a></li>
                            <li><a href="@Url.Action("ShowBookByPrice", "Book", new { minPrice = 50, maxPrice = int.MaxValue}, null)" style="color:#1874CD;"><span class="glyphicon glyphicon-search"></span> > 50$</a></li>
                        </ul>
                    </li>

                    @if (Request.IsAuthenticated && User.IsInRole("Admin")) {
                        <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                        <li>@Html.ActionLink("GroupsAdmin", "Index", "GroupsAdmin")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="container body-content">
        <div class="row">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Online Book Shop</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/nav.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
